@model IEnumerable<LearningManagementSystem.MVC.Models.User>

@{
    ViewData["Title"] = "GetAllUsers";
    Layout = "~/Views/Shared/AdminDashboardBody.cshtml";
}


<br />
<h4 style="text-align:center">User Details</h4>
<br />
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Table V03</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="Table_Highlight_Vertical_Horizontal/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table_Highlight_Vertical_Horizontal/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table_Highlight_Vertical_Horizontal/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table_Highlight_Vertical_Horizontal/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table_Highlight_Vertical_Horizontal/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table_Highlight_Vertical_Horizontal/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="Table_Highlight_Vertical_Horizontal/css/util.css">
    <link rel="stylesheet" type="text/css" href="Table_Highlight_Vertical_Horizontal/css/main.css">
    <!--===============================================================================================-->
    <script src="Table_Highlight_Vertical_Horizontal/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="Table_Highlight_Vertical_Horizontal/vendor/bootstrap/js/popper.js"></script>
    <script src="Table_Highlight_Vertical_Horizontal/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="Table_Highlight_Vertical_Horizontal/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="Table_Highlight_Vertical_Horizontal/js/main.js"></script>
</head>
<body>
    <div class="table100 ver1 m-b-110">
        <table data-vertable="ver1">
            <thead>
                <tr class="row100 head">
                    <th class="column100 column1" data-column="column1">
                        ID
                    </th>
                    <th class="column100 column2" data-column="column2">
                        Name
                    </th>
                    <th class="column100 column3" data-column="column3">
                        Email
                    </th>
                    <th class="column100 column4" data-column="column4">
                        Address
                    </th>
                    <th class="column100 column5" data-column="column5">
                        Phone Number
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="row100">

                        <td class="column100 column1" data-column="column1">
                            @Html.DisplayFor(modelItem => item.UserID)
                        </td>
                        <td class="column100 column2" data-column="column2">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td  class="column100 column3" data-column="column3">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="column100 column4" data-column="column4">
                            @Html.DisplayFor(modelItem => item.UserAddress)
                        </td>
                        <td class="column100 column5" data-column="column5">
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
        </body>
</html>
